/* Large Screen */
@media screen and (max-width:992px) {
    /* Hero Area responsive */
    .hero-area .hero-text h1{
        font-size:2.8rem;
    }
    .hero-area .hero-text p{
        font-size:0.9rem;
    }

    /* Our plants area responsive */
    .plant-text p{
        padding:0 6rem;
        margin-bottom: 1.5rem;
    }

    /* Plant and Flower lover responsive */
    .plant-lover-content h2 {
        font-size: 2.2rem;
    }
    .plant-lover-image .trusted-badge{
        top:-80px;
        right:-80px;
        width: 50%;
    }

    /* Footer Area responsive */
    .footer-content{
        column-gap:2rem;
    }
    .footer-social-icon a{
        display: inline-block;
        margin-right:5px;
    }

}
/* Medium Screen */
@media screen and (max-width:768px) {
    /* hero area responsive */
    .hero-area{
        padding:2rem 0;
    }
    .hero-area{
        flex-direction: column-reverse;
        gap:1rem;
    }
    .hero-area .hero-text{
        width: 100%;
    }
    .hero-area .hero-text h1{
        flex-basis: 100%;
        text-align: left;
    }
    .hero-area .hero-text p{
        text-align: left;
        margin-top:10px;
    }
    .hero-area .hero-image{
        width: 100%;
    }
    .hero-area .hero-image img{
        width: 100%;
        
    }

    /* Our plant section responsive */
        .plant-text h2 {
        font-size: 2rem;
    }
    .plant-item-wrap{
        grid-template-columns: repeat(3, 1fr);
    }
    .plant-text p{
        padding:0rem;
        margin-bottom: 1.5rem;
    }

    /* Plant and flower lover section */
    .plant-lover-wrap{
        flex-direction: column;
        gap:1rem;
        padding:2rem 0;
    }
    .plant-lover-image{
        width: 100%;
    }
    .plant-lover-image .trusted-badge{
        display:none;
    }
    .plant-lover-content h2 {
        font-size: 1.7rem;
    }

    .plant-lover-content ul li{
        margin:0.8rem 0;
        margin-left:1.25rem;
        color:var(--secondary-color);
    }

    /* Latest Deals responsive */
        .latest-deal-title h2 {
        font-size: 2rem;
    }
    .latest-deal-image{
        grid-template-columns: 1fr;
    }
    .overlay h3{
        font-size:2rem;
    }
    .overlay a{
        font-size:1.5rem;
    }
    

    /* Join Section responsive */
    #join-area{
        padding:6rem 0;

    }
    .join-title h2{
        font-size: 1.8rem;
    }

    /* Footer Area responsive */
        #footer-area{
        padding:2rem 0;
    }
    .footer-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-logo p{
        margin-right: 50px;
    }
}



/* Small Screen */
@media screen and (max-width:576px) {
    /* Menu Item hidden */
    .header-menu-items{
        display: none;
    }
    .hero-area .hero-text h1{
        font-size:2rem;
    }

    /* Our plant section responsive */
    .plant-item-wrap{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Latest Deals responsive */
    .overlay h3{
        font-size:1.3rem;
    }
    .overlay a{
        font-size:1rem;
    }


    /* Join Section responsive */
    #join-area{
        padding:4.5rem 0;

    }
    .join-title h2{
        font-size: 1.3rem;
    }
    .join-input input[type="email"]{
        width: 70%;

    }

    /* Footer Area responsive */
    .footer-logo p{
        margin-right: 0px;
    }
}