/* Google Fonts (Inter and noto serif) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Start Global CSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-font:"Noto Serif", serif;
    --secondary-font:"Inter", sans-serif;
    --bg-color:#F5F8FF;
    --primary-color:#E85A08;
    --secondary-color:#929292;
    --dark-color:#000000;
    --light-color:#FFFFFF;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin:0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--primary-font);
}
p, a{
    font-family: var(--secondary-font);
}
/* End Global CSS */

/* Start Header area style */
#header-area{
    background-color: var(--bg-color);
    padding:1.5rem 0;
}
#header-area nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* logo */

.header-logo h2{
    color:var(--dark-color);
    font-size: 1.8rem;
}
.header-logo h2 a{
    color:var(--dark-color);
}
.header-logo span{
    color:var(--primary-color);
}

.header-menu{
    display: flex;
    gap:2.5rem;
}
.header-menu-items ul{
    display: flex;
    gap:2.5rem;
}
.header-menu-items ul li a{
    color:var(--secondary-color);
    transition: color, 0.1s;
}
.header-menu-items ul li a.active{
    color:var(--dark-color);
}
.header-menu-items ul li a:hover{
    color:var(--primary-color);
}
/* cart */
.header-menu-cart a{
    color:var(--primary-color);
    transition:color, 0.1s;
}
.header-menu-cart a:hover{
    
    color:var(--dark-color);
}
/* End Header area style */

/* Start Hero Area style */
.hero-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5rem 0;
}
.hero-area .hero-text{
    flex-basis: 50%;
}
.hero-area .hero-text h1{
    font-size:3.5rem;
    color:var(--dark-color);
}
.hero-area .hero-text h1 span{
    color:var(--primary-color);
}
.hero-area .hero-text p{
    font-size:1rem;
    color:var(--secondary-color);
    line-height: 1.5rem;
}
.hero-area .hero-image{
    flex-basis: 50%;
}
.hero-area .hero-image img{
    max-width: 100%;
}
/* End Hero Area style */