/* Google Fonts (Inter and noto serif) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Start Global CSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-font:"Noto Serif", serif;
    --secondary-font:"Inter", sans-serif;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin:0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--primary-font);
}
p, a{
    font-family: var(--secondary-font);
}
/* End Global CSS */